ServerAndClient/ServerCarRenting/WebContent/wsdl/MLVCarsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://classes.web" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://classes.web" xmlns:intf="http://classes.web" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://classes.web" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="list">
    <complexType/>
   </element>
   <element name="listResponse">
    <complexType>
     <sequence>
      <element name="listReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="purchaseBasket">
    <complexType>
     <sequence>
      <element name="strLicensePlates" type="xsd:string"/>
      <element name="amount" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="purchaseBasketResponse">
    <complexType>
     <sequence>
      <element name="purchaseBasketReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listRequest">

      <wsdl:part element="impl:list" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part element="impl:listResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="purchaseBasketRequest">

      <wsdl:part element="impl:purchaseBasket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="purchaseBasketResponse">

      <wsdl:part element="impl:purchaseBasketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MLVCarsService">

      <wsdl:operation name="list">

         <wsdl:input message="impl:listRequest" name="listRequest">

       </wsdl:input>

         <wsdl:output message="impl:listResponse" name="listResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="purchaseBasket">

         <wsdl:input message="impl:purchaseBasketRequest" name="purchaseBasketRequest">

       </wsdl:input>

         <wsdl:output message="impl:purchaseBasketResponse" name="purchaseBasketResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MLVCarsServiceSoapBinding" type="impl:MLVCarsService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="purchaseBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="purchaseBasketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="purchaseBasketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MLVCarsServiceService">

      <wsdl:port binding="impl:MLVCarsServiceSoapBinding" name="MLVCarsService">

         <wsdlsoap:address location="http://localhost:8080/ServerCarRenting/services/MLVCarsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
